<div id="list-container">

  <h2 class="mb-20">Ironhack Cinema</h2>
  <h4 class="font-12">Click on the movie to check the showtimes!</h4>
  <div id="card-container">
  {{#each movies}}  
    <div class="card">
      <img src="{{image}}" alt="image" class="mb-10">
      <p class="mb-20 bold">{{title}}</p>
      <a href="movies/{{id}}">See More</a>
    </div>
  {{/each}}
  </div>
</div>